body, html {
    height: 100%;
    margin: 0;
    background-color: transparent; /* Transparent background for iframe overlay */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

#ideal-circle {
    border-color: green;
}

#current-circle {
    border-color: red;
}
